/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 18px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* font-variation-settings: "wght" var(--weight-text); */
}

button:focus {
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid #000;
  padding-block-start: 136px;
  /* padding-block-start: 120px; */
  font-family: var(--accent-font-family);
  line-height: normal;
  text-transform: uppercase;
  background: var(--bg-color);
  min-block-size: 327px;
  max-block-size: 368px;
  max-inline-size: 700px;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
  }
}

.header__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__subtitle {
  align-self: center;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: 22px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 19px;
  padding-block-end: 25px;
  list-style: none;
  gap: 5px;
}

@media (width <= 375px) {
  .theme-menu__list {padding-block-end: 18px;}
  
}

.theme-menu__button {
  border: 1px solid transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::before {
  content: "";
  padding: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline: auto;
  max-inline-size: 700px;
}

.card {
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
}

.card__title {
  padding: 5px 10px;
  font-family: var(--second-family);
  font-weight: var(--weight-title);
  font-size: var(--font-size);
}

.image__container {
  position: relative;
}

.card__image {
  position: relative;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.image__lable {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: normal;
  text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow),
    1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
  mix-blend-mode: hard-light;
  /* inset-inline-end: 10px; */
  inset-inline-end: 25px;
  inset-block-start: 25px;
}

@supports (
  (-webkit-text-stroke: 1px var(--text-shadow)) or
    (text-stroke: 1px var(--text-shadow))
) {
  .image__label {
    -webkit-text-stroke: 1px var(--text-shadow);
  }
}

@media (width <= 375px) {
  .image__lable {
    inset-inline-end: 10px;
  }
}

.card__text-block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 28px 27px 26px 25px;
}

.card__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}
.card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  height: fit-content;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: none;
  padding: 0;
  outline: 2px solid;
  color: transparent;
  background-color: transparent;
  transition: color 0.3s ease;
  block-size: 38px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  font-weight: 400;
  font-size: var(--accent-font-size);
  line-height: 0.9;
  background-color: var(--bg-color);
  transition: box-shadow 0.5s;
  cursor: pointer;
  block-size: 38px;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: 0.3s ease;
}

.card__like-button {
  padding: 0px;
  inline-size: 130px;
  block-size: 38px;
}

.button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.button__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  padding: 15px 20px;
}

.footer__button {
  gap: 8px;
  margin-inline: auto;
  margin-block-start: 54px;
  margin-block-end: 100px;
  padding-block: 15px;
  min-inline-size: 306px;
  max-inline-size: 335px;
  min-block-size: 55px;
  
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
    max-inline-size: 306px;
    min-block-size: 84px;
  }
  
}

.floppy {
  z-index: 1;
  flex-shrink: 0;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog__window {
  border: 2px solid var(--accent-color);
  padding: 29px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--accent-font-size);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--bg-color);
  min-inline-size: 341px;
  max-inline-size: 353px;
  max-block-size: 191px;
}

.dialog__window[open] {
  gap: 30px;
}

.dialog__window-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-block-end: 28px;
}

.floppy__dialog {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  block-size: 39px;
  inline-size: 39px;
}

.dialog__button {
  text-transform: uppercase;
  inline-size: 100%;
}

.filter-brightness {
  filter: brightness(100%) contrast(95%);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-hue-rotate {
  filter: hue-rotate(-95deg);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-multiple {
  filter: contrast(95%) hue-rotate(-20deg) saturate(120%);
}

.filter-blur {
  filter: blur(4px);
}

.filter-invert {
  filter: invert(0.2);
} 
